<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us
    </title>
</head>
<body>
   <p>
    E-learning, short for “electronic learning”. It refers to the use of digital tools & technologies to access educational content. Typically, outside of a traditional classroom.
    <br><br>

    It encompasses a wide range of modalities. From online college courses and training sessions to webinars & instructional videos.
    <br><br>
    It provides learners with the flexibility to learn at their own pace and from any location. Hence, making education more accessible and personalized.
    <br><br>
    We’ve to also remember that its not just a trending keyword. But a significant shift in how we impart and receive education.
   </p>
</body>
</html>