<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="courses">
        <h1>E-learing courses</h1>
        <ul>
            <li><h4>Java</h4></li>
            <li><h4>C++</h4></li>
            <li><h4>Java full stack</h4></li>
            <li><h4>MERN Stack</h4></li>
            <li><h4>MEAN Stack</h4></li>
        </ul>
    </div>
</body>
</html>