<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E learning plaform</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
   <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/courses">Course</a></li>
            <li><a href="">Know more</a></li>
            <li><a href="/about">About E-learing</a></li>
            <li><a href="">Get in Touch</a></li>
        </ul>
        <a id="contact" href="">contact us</a>
   </nav>
</body>
</html>