<!DOCTYPE html>
<html lang="en" ng-app="validationApp">
<head>
    <meta charset="UTF-8">
    <title>Username and Password Validation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-controller="ValidationController">
    <h2>Username and Password Validation</h2>
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" ng-model="username" ng-change="validateUsername()">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" ng-model="password" ng-change="validatePassword()">
        <br>
        <button type="button" ng-click="validate()">Validate</button>
    </form>
    <div ng-show="message">{{ message }}</div>
</div>

<script>
    var app = angular.module('validationApp', []);

    app.controller('ValidationController', function($scope) {
        $scope.validateUsername = function() {
            if (!$scope.username) {
                $scope.message = "Enter username";
            } else if ($scope.username.length < 3) {
                $scope.message = "Username is too short";
            } else {
                $scope.message = "";
            }
        };

        $scope.validatePassword = function() {
            if ($scope.password && $scope.password.length < 8) {
                $scope.message = "Password is too short";
            } else {
                $scope.message = "";
            }
        };

        $scope.validate = function() {
            if (!$scope.username) {
                $scope.message = "Enter username";
            } else if ($scope.username.length < 3) {
                $scope.message = "Username is too short";
            } else if ($scope.password && $scope.password.length < 8) {
                $scope.message = "Password is too short";
            } else {
                $scope.message = "Valid username and password";
            }
        };
    });
</script>

</body>
</html>
